$color-primario: #111111;
$color-secundario: #ffffff;

$color-nav: #171d25;
$color-nav-select: #19222E;
$color-nav-box: rgba(200, 38, 209, 0.5);
$color-nav-box2: rgba(102, 8, 226, 0.5);

$color-background: rgba(0, 0, 0, 0.7);

$color-MMORPG: #e9300f;
$color-MOBA: #0e61dd;
$color-Shooter: #0fe633;
